<a href="https://colab.research.google.com/github/AnkitaSaha140/PYTHON_ASSIGNMENT_2/blob/main/PYTHON_ASSIGNMENT_3_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.WAP to print your name 10 times

In [ ]:
print("Ankita Saha\n"*10)

Ankita Saha
Ankita Saha
Ankita Saha
Ankita Saha
Ankita Saha
Ankita Saha
Ankita Saha
Ankita Saha
Ankita Saha
Ankita Saha

2.WAP to print natural number from 1 to n.Enter the range: 10
The series is: 1 2 3 4 5 6 7 8 9 10

In [ ]:
n=int(input("Enter the range"))
for i in range(1,n+1):
  print(i,end=" ")

Enter the range10
1 2 3 4 5 6 7 8 9 10

3.WAP to print the following series.
Enter the range: 20
1 3 5 7 9 11 13 15 17 19

In [ ]:
n=int(input("Enter the range"))
for i in range(1,n+1,2):
  print(i,end=" ")

Enter the range20
1 3 5 7 9 11 13 15 17 19

4.WAP to calculate and display the factorial of
an inputted number.

In [ ]:
print("Enter the number:")
n=int(input())
if n==0:
  print("Factorial:1")
elif n<0:
  print("Factorial is defined only for non negative number")
else:
  factorial(n)

Enter the number:
5
Factorial of 5 is 120

In [1]:
def factorial(n):
  fact=1
  for i in range(1,n+1):
          fact=fact*i
  print("Factorial of",n,"is",fact)

5.WAP to generate the table of an inputted
number using for loop.
Enter the number:3
3*1=3
3*2=6

In [ ]:
print("Enter the number:")
n=int(input())
for i in range(1,11):
  print(n,"*",i,"=",n*i)

Enter the number:
3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

6.WAP to display factors of an inputted
number

In [ ]:
print("Enter a number to find its factor:")
n=int(input())
print("Factors:",end=" ")
for i in range(1,n+1):
    if n%i==0:
      print (i,end=" ")

Enter a number to find its factor:
6
Factors: 1 2 3 6

7.WAP to calculate sum of first n numbers.
1+2+â€¦+n

In [ ]:
sum=0
print("Enter a number:")
n=int(input())
for i in range(1,n+1):
  sum=sum+i
print("The sum of first",n,"number is:",sum)

Enter a number:
6
The sum of first 6 number is: 21

8.WAP to check whether an inputted number
is prime or not.

In [ ]:
def check_prime(n):
  c=0
  for i in range(2,n):
    if n%i==0:
      c=c+1
  return c

In [ ]:
print("Enter a number:")
n=int(input())
p=check_prime(n)
if p==0:
  print("Prime")
else:
  print("Non Prime")

Enter a number:
10
Non Prime

9.WAP to display all the prime number upto n.

In [ ]:
ran=int(input("Enter the number"))
print("Prime numbers:",end=" ")
for i in range(2,ran+1):
  p=check_prime(i)
  if p==0:
    print(i,end=" ")

Enter the number10
Prime numbers: 2 3 5 7

10.WAP to print the following patterns using
loop

In [ ]:
ran=int(input("Enter number:"))
for i in range(1,ran+1):
  for j in range(1,i+1):
    print("*",end='')
  print()

Enter number:5
*
**
***
****
*****

In [ ]:
def tripat():
  ran=int(input("Enter number:"))
  for i in range(1,ran+1):
    print("*"*i)
  print()
if __name__ == "__main__":
  tripat()

Enter number:5
*
**
***
****
*****

In [ ]:
ran=int(input("Enter number:"))
for i in range(0,ran):
      print(" "*i,"A"*(ran-i))
print()

Enter number:5
 AAAAA
  AAAA
   AAA
    AA
     A

11.WAP to print the following patterns using
loop.

In [ ]:
k=1
ran=int(input("Enter number:"))
for i in range(1,ran+1):
      print(" "*(ran-i),"O"*k)
      k+=2
print()

Enter number:4
    O
   OOO
  OOOOO
 OOOOOOO

In [ ]:
k=7
for i in range(0,ran):
      print(" "*i,"O"*k)
      k-=2
print()

 OOOOOOO
  OOOOO
   OOO
    O

In [ ]:
k=1
for i in range(1,5):
  for j in range(1,i+1):
    print(k,end=" ")
    k=k+1
  print()

1
2 3
4 5 6
7 8 9 10

12.WAP to print first n Fibonacci numbers.

In [ ]:
a=0
b=1
c=0
n=int(input("Enter the number:"))
print("0",end=' ')
for i in range(1,n):
  print(c,end=" ")
  c=a+b
  a=b
  b=c

Enter the number:10
0 0 1 2 3 5 8 13 21 34

In [ ]:
k=2
for i in range(1,4):
  for j in range(1,4):
      print(k,end=" ")
      k+=2
  print()

2 4 6
8 10 12
14 16 18

In [ ]:
k=1
for i in range(1,4):
  for j in range(1,7):
    if k%2==0:
      print(k,end=" ")
    k+=1
  print()

2 4 6
8 10 12
14 16 18

In [ ]:
ran=int(input("Enter number:"))
for i in range(1,ran+1):
      print(" "*(ran-i),"*"*i)
print()

Enter number:5
     *
    **
   ***
  ****
 *****